/*________________________________________________*/
 /*_______________________________________________*/
/*_______________ -BREAKPOINT 1- _________________*/
/*________________ -ÉCRAN LARGE - ________________*/
/*________________________________________________*/
/*________________________________________________*/

@media screen and (max-width: 1400px)
{
 
/* _________________________ */
/* Hébergements____Résultats */
/* _________________________ */

#heb_apercu
{
    background-color: white;
    padding: 38px 0 0 0;
}

#apercu_fiche_conteneur /* bloc des fiches */
{
    width: 100%;
    max-width: 880px;
}


/* Hebergements à Marseille: */
/* _______Populaires________ */
#populaires
{
    width: 100%;
    max-width: 800px;
}

.pop_fiche_conteneur /* bloc des fiches */
{
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-shrink: 1;
}

#populaires figure
{
    max-width: 246px;
}
#populaires img
{
    width: 100%;
    max-width: 90px;
}

#populaires figcaption
{
    padding: 10px;
}

/* _________________________ */
/* __Activités à Marseille__ */
/* _________________________ */

#ACTIVITES
{
    margin-top: 20px;
}

.activites_conteneur /* conteneur colonnes */
{
    max-width: 880px;
    justify-content: flex-start;
}

/* Types de colonnes */

.colonnedouble
{
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

/* Cartes */
.activites_conteneur figure
{
    width: 265px;
    /* margin: 0 20px; */
}

.colonnedouble figure
{
    margin-left: 40px;
}

.vieuxport img, .fortdepomegues img, .ilesdufrioul img,
.parcnationaldescalanques img, .notredamedelagarde img,
.parclongchamp img
{
    height: 280px;
}


}



/*________________________________________________*/
 /*_______________________________________________*/
/*__________________ -TABLETTE- __________________*/
/*_____________ -LARGE (Bootstrap)- ______________*/
/*________________________________________________*/
/*________________________________________________*/

@media screen and (max-width: 976px)
{
}


/*________________________________________________*/
/*________________________________________________*/
/*___________________ -MOBILE- ___________________*/
/*__________________ -IPHONE 8- __________________*/
/*________________________________________________*/
/*________________________________________________*/

@media screen and (max-width: 718px)
{

/* _________________________ */
/* _________Général_________ */
/* _________________________ */

body, header, main
{
    margin: 0;
}

.desktop_only
{
    display: none;
}

.mobile_only
{
    display: flex;
}

/* _________________________ */
/* _____Styles textuels_____ */
/* _________________________ */

p
{
    font-size: 1rem; /* 16px */
    line-height: 1.3rem;
}

/* _________________________ */
/* _________En-tête_________ */
/* _________________________ */
header
{
    flex-flow: row wrap;
}

.logo
{
    margin-left: 4%;
    margin-top: 20px;
}
  
/* _________En-tête_________ */
/* __________Menu___________ */
.menu
{
    width: 100%;
    margin-top: 10px;
}

/* _________En-tête_________ */
/* _______Navigation________ */
nav
{
    width: 100%;
}

nav ul
{
    padding: 0;
}

nav li
{
    width: 100%;
    border-top: none;
    padding: 0 0px 20px 0px;
    border-bottom: solid #0065FC 3px;
}

nav li:nth-child(2)
{
    border-bottom: solid #F2F2F2 3px;
}

/* _______S'inscrire________ */
.inscription /* S'inscrire */
{
    position: absolute;
    top: 0;
    right: 5%;
}

/* _________________________ */
/* ____Section Recherche____ */
/* _________________________ */

#RECHERCHE
{
    margin: 0 20px;
}

/* _________________________ */
/* _Formulaire_de_recherche_ */
/* _________________________ */

#FORMULAIRE
{
    margin: 10px auto;
    border: none;
    width: 90%;
    max-width: 400px;
    border: solid #f2f2f2 1px;
}

.fa-map-marker-alt /*icone position*/
{
    width: 45px;
    padding: 17px O;
}

.form_ville
{
    width: 90%;
}

.form_bouton
{
    padding: 0 18px;
    text-align: center;
    border-radius: 14px 14px 14px 14px;
}

/* _________________________
/* ______Barre Filtres______ */
/* _________________________ */
 
#FILTRE
{
    margin: 25px 0;
}

.filtrebouton
{
    margin: 15px 10px 0px 0;
    padding: 0;

} 

/* _________________________ */
/* Hébergements____Résultats */
/* _________________________ */

#HEBERGEMENTS
{
    flex-wrap: wrap-reverse;
}

/* Hébergements____Résultats */
/* _________Aperçu__________ */

#heb_apercu
{
    background-color: white;
    border-radius: 0;
    padding: 0;
    margin: 20px;
}

#apercu_fiche_conteneur /* bloc des fiches */
{
    width: 100%;
}

#heb_apercu a
{
    width: 100%;
}

#heb_apercu figure
{
    width: 100%;
    max-width: 335px;
    margin: 10px auto;
    line-height: 1.5rem; /*changer*/
}

/* Hebergements à Marseille: */
/* _______Populaires________ */
#populaires
{
    border-radius: 0;
    padding: 20px;
    width: 100%;
}

#pop_fiche_conteneur /* bloc des fiches */
{
    width: 100%;
}

#populaires figure
{
    width: 100%;
    height: 144px;
    margin: 10px 0;
}

#populaires img
{
    width: 100%;
    max-width: 133px;
    min-width: 100px;
}

#populaires figcaption
{
    padding: 20px;
}

/* _________________________ */
/* __Activités à Marseille__ */
/* _________________________ */

#ACTIVITES
{
    margin: 20px;
}

.activites_conteneur /* bloc des fiches */
{
    flex-flow: column wrap;
}


.activites_conteneur figure
{
    width: 100%;
    max-width: 335px;
    margin: 10px auto;
}

.vieuxport img, .fortdepomegues img, .ilesdufrioul img,
.parcnationaldescalanques img, .notredamedelagarde img,
.parclongchamp img
{
    height: 134px;
}

/* Pieds de page */
footer
{
    grid-template-columns: 100%;
}


}


/*________________________________________________*/
/*________________________________________________*/
/*___________________ -MOBILE- ___________________*/
/*__________________ -SMALL- __________________*/
/*________________________________________________*/
/*________________________________________________*/

@media screen and (max-width: 330px)
{
#populaires figcaption
{
    padding: 10px;
}

}