
 /*_______________________________________________*/
/*__________________ -TABLETTE- __________________*/
/*_____________ -LARGE (Bootstrap)- ______________*/
/*________________________________________________*/
@media screen and (max-width: 992px)
{

}


/*________________________________________________*/
/*___________________ -MOBILE- ___________________*/
/*_____________ -MEDIUM (Bootstrap)- _____________*/
/*________________________________________________*/

@media screen and (max-width: 768px)
{

/* General */
body
{
    margin: 0;
}


/* En-tête */
header
{
    flex-flow: row wrap;
    margin: 5% 2.5%;
}
    
.menu
{
    flex-flow: column wrap;
}

.menu :first-child /* nav */
{
    order: 2;
    flex-grow: 1 1 100%;
}

.inscription
{
    position: absolute;
    top: 50px;
    right: 3%;
}

nav
{
    text-align: center;
    width: 100%;
    border-top: 0;
    border-bottom: solid #f2f2f2 2px;
}

nav li
{
    width: 50%;
    background-color: hotpink;
}

nav a:hover
{
   border-top: none;
}

nav :active
{
   color: #0065FC;
   text-decoration: none;
   border-bottom: solid #0065FC 2px;
   font-weight: bold;
}



/* Pieds de page */
footer
{
    display: flex;
    flex-flow: column wrap;
    line-height: 120%;
    background-color: #f2f2f2;
}

.footer
{
    width: 100%;
}

}


