/*________________________________________________*/
 /*_______________________________________________*/
/*__________________ -TABLETTE- __________________*/
/*_____________ -LARGE (Bootstrap)- ______________*/
/*________________________________________________*/
/*________________________________________________*/

@media screen and (max-width: 992px)
{

}

/*________________________________________________*/
/*________________________________________________*/
/*___________________ -MOBILE- ___________________*/
/*_____________ -MEDIUM (Bootstrap)- _____________*/
/*________________________________________________*/
/*________________________________________________*/

@media screen and (max-device-width: 768px),
        screen and (max-width: 768px)
{

/* _________________________ */
/* _________Général_________ */
/* _________________________ */

body
{
    margin: 0;
}

header
{
    margin: 0;
}

main
{
    margin: 0 5%;
}

.desktop_only
{
    display: none;
}

.mobile_only
{
    display: flex;
}


/* _________________________ */
/* _____Styles textuels_____ */
/* _________________________ */

p /* Améliorer */
{
    font-size: 0.875rem; /* 14px */
}

/* _________________________ */
/* _________En-tête_________ */
/* _________________________ */
header
{
    flex-flow: row wrap;
}

.logo
{
    margin-left: 4%;
    margin-top: 20px;
}
  
/* _________En-tête_________ */
/* __________Menu___________ */
.menu
{
    width: 100%;
    margin-top: 10px;
}

/* _________En-tête_________ */
/* _______Navigation________ */
nav
{
    width: 100%;
}

nav ul
{
    padding: 0;
}

nav li
{
    width: 100%;
    border-top: none;
    padding: 0 0px 20px 0px;
    border-bottom: solid #0065FC 3px;
}

nav li:nth-child(2)
{
    border-bottom: solid #F2F2F2 3px;
}

/* _______S'inscrire________ */
.inscription /* S'inscrire */
{
    position: absolute;
    top: 0;
    right: 5%;
}

/* _________________________ */
/* _Formulaire de recherche_ */
/* _________________________ */

#RECHERCHE
{
    margin: 5% auto;
    border: none;
}

.fa-map-marker-alt /*icone position*/
{

    width: 45px;
    padding: 17px O;
}

.form_ville
{
    flex: 1 1 100%;
    border: solid #f2f2f2 1px;
}

.form_bouton
{
    width: 50px;
    border-radius: 14px 14px 14px 14px;
    margin-left: -40px;


}

/* _________________________ */
/* ______Barre Filtres______ */
/* _________________________ */

#FILTRE
{
    margin: 25px 0;
}

.filtrebouton
{
    margin: 15px 10px 0px 0;
}


/* _________________________ */
/* Hébergements____Résultats */
/* _________________________ */

#HEBERGEMENTS
{
    background-color: #f2f2f2;
}

/* Hébergements____Résultats */
/* _________Aperçu__________ */

#heb_apercu
{
    width: 100%;
}

#heb_apercu figure
{
    width: 100%;
}

/* Hebergements à Marseille: */
/* _______Populaires________ */


#populaires
{
    flex: 1 1 100%;
    border-radius: 0;
}

/* _________________________ */
/* __Activités à Marseille__ */
/* _________________________ */

.vieuxport img, .fortdepomegues img, .ilesdufrioul img,
.parcnationaldescalanques img, .notredamedelagarde img,
.parclongchamp img
{
    height: 150px;
}

/* Pieds de page */
footer
{
    grid-template-columns: 100%;
}

}


