/* Général */
body
{
    max-width: 1340px;
    margin: 25px;
    font-family: 'Raleway';
    font-size: 0.9em;
    line-height: 100%;
}

/* Styles textuels*/
h1
{
    font-size: 1.1em;
}

h2
{
    font-size: 0.9em;
    font-weight: normal;
}

h3
{
    font-size: 0.9em;
    font-weight: bold;
}

.infostyle
{
    font-size: 0.7em;
}



/* Responsive */

/* Navigation */
nav
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a
{
   color: #0065FC; 
   text-decoration: none;
   font-weight: normal;
   padding-top: 10px;
}

nav a:visited
{
   color: #0065FC; 
   text-decoration: none;
}

nav ul
{
    display: flex;
    justify-content: space-around;
    width: 200px;
}

nav a:hover
{
   color: #0065FC;
   border-top: solid #0065FC 2px;
   text-decoration: none;
   font-weight: bold;
}

nav a:active
{
   color: #0065FC; 
   text-decoration: none;
}

nav li
{
    list-style-type: none;
}

#inscription
{
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    border: none;
}

/* En-tête */
#barremenu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo
{
    max-width: 100%;
    height: 30px;
}

/* Formulaire de recherche */
#formulairerecherche
{
    margin-top: 3%;

}
.fa-map-marker-alt
{
    background-color: #f2f2f2;
    height: 25px;
    border: none;
    border-radius: 7px 0px 0px 7px;
    padding: 0px 10px;  
}

.formulaireville
{
    height: 22px;
    border: solid #f2f2f2 1px;

}

.formulairebouton
{
    font-family: 'Raleway';
    font-size: 0.7em;
    background-color: #0065FC;
    color: white;
    height: 24px;
    border: none;
    border-radius: 0px 7px 7px 0px;
    padding: 0px 10px;
}

/* Filtres */
.fa-money-bill-wave
{
    color:#0065FC;
}

.fa-child
{
    color:#0065FC;
}

.fa-heart
{
    color:#0065FC;
}

.fa-dog
{
    color:#0065FC;
}

/* Pieds de page */


