/* Général */
body
{
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Raleway';
    font-size: 1.5vw;
}
/* Styles textuels*/

/* Responsive */

/* Navigation */

nav li
{
    list-style-type: none;
}
/* En-tête */

/* Corps de la page */

/* Pieds de page */


