/* Général */
body
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
    font-family: 'Raleway';
    font-size: 0.9em;
    line-height: 100%;
}

button, input
{
    font-family: 'Raleway';
    font-size: 0.8em;
    border: solid #F2F2F2 1px;
    
    -webkit-appearance: none;
}

main
{
    margin: 20px 0px;
}

a
{
    color: black;
    text-decoration: none;
}

/* Styles textuels*/
h1
{
    font-size: 1.1em;
    font-weight: bold;
}

h2
{
    font-size: 1.1em;
    font-weight: bold;
}

h3
{
    font-size: 0.9em;
    font-weight: normal;
}

h4
{
    font-size: 0.8em;
    font-weight: bold;
}

.meilleursprix
{
    font-weight: bold;
}

/* Responsive */

/* En-tête */
#conteneur_menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo
{
    max-width: 100%;
    height: 30px;
}

/* Navigation */
nav
{
    display: inline-flex;
    align-items: center;
}

nav a
{
    color: black; 
    text-decoration: none;
    font-weight: normal;
    padding-top: 10px;
}

nav ul
{
    display: flex;
    justify-content: space-around;
    width: 200px;
}

nav a:hover
{
   color: #0065FC;
   border-top: solid #0065FC 2px;
   text-decoration: none;
   font-weight: bold;
}

nav a:active
{
   color: #0065FC;
   text-decoration: none;
}

nav li
{
    list-style-type: none;
}

#inscription /* S'inscrire */
{
    color: #0065FC;
    text-decoration: none;
    font-weight: bold;
    margin-left: 10px;
    border: none;
}

/* Formulaire de recherche */

#RECHERCHE
{

    display: flex;
    align-items: center;
    height: 35px;
    margin-top: 3%;
    font-weight: bold;
}

.fa-map-marker-alt
{
    height: 35px;
    width: 30px;
    text-align: center;
    background-color: #f2f2f2;
    border: none;
    border-radius: 30% 0 0 30%;
}

.form_ville
{
    height: 33px;
    margin: 0;
    padding: 0;
    color: black;
}

.form_bouton
{
    background-color: #0065FC;
    color: white;
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 0px 7px 7px 0px;
    text-align: center;
}

/* Filtres */
#FILTRES
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    height: 30px;
    
}

.filtrebouton
{
    border: none;
    margin: 0;
    padding: 0;

}

.style_filtrebouton
{
    border: 0;
    background-color: white;
    border: solid 1px #F2F2F2;
    margin: 0 0 0 15px;
    padding: 3px 10px 3px 0;
    border-radius: 50px;
    height: 30px;
    font-size: 0.8em;
    font-weight: bold;
}

.style_filtrebouton:hover
{
    background-color: #F2F2F2;
    box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);

}

.filtreicones /* à améliorer */
{
    color:#0065FC;
    text-align: center;
    font-size: small;
    width: 15px;
    padding: 7px 9px;
    background-color: #DEEBFF;
    border-radius: 50%;
}


/* infos - résultats */

.fa-info
{
    color: #0065FC;
    padding: 4px 7px;
    margin-right: 8px;
    border: solid #F2F2F2 0.1px;
    border-radius: 50%;
}

.INFO
{
    display: block;
    margin: 30px 0px;
    font-size: 0.7em;
}

/* Section Hébergements */
#HEBERGEMENTS
{
     display: grid;
     grid-template-columns: 68% 30%;
     gap: 2%;

}

/* Hébergements à Marseille */
#heb_conteneur
{
    background-color: #F2F2F2;
    padding: 1em 2em 1em 2em;
}

#heb_apercu
{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    background-color: #c2d8fa; 
}

.heb_fiche
{
    display: flex;
    width: 20vw;
    flex-direction: column;
    background-color: white;
    border: solid black 1px;
}

.heb_img
{
    height: 80px;
    width: auto;
    object-fit: scale-down;
}

/* Section Populaires */
#pop_conteneur
{
    background-color: #F2F2F2;
    padding: 1em 2em 1em 2em;
}
/* Les plus populaires */
#populaires
{
    display: flex;
    flex-direction: column;
    background-color: rgb(208, 253, 211);
}

.pop_fiche
{
    border: solid black 1px;
}

.pop_img
{
    height: 80px;
    width: auto;
    object-fit: cover;
}


/* Activités à Marseille */
#ACTIVITES
{
    padding: 1em 2em 1em 2em;   

}

#activites_conteneur
{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 5% 25% 25%;
    border: 1px;
}

.act_fiche
{
    border: solid black 1px;
}

.activites_img
{
    height: 80px;
    width: auto;
    object-fit: scale-down;

}

/* Pieds de page */
footer
{
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.footer
{
    padding: 1em 10em 2em 2em;
    
}

footer a
{
    text-decoration: none;
    color: black;
    font-size: 0.7em;
}

footer a:hover
{
    text-decoration: underline;
    color: black;
    font-size: 0.7em;
}

footer ul
{
    list-style-type: none;
    padding: 0;

}

 

